@model nDeathProject.Models.ChartEntity

<form asp-action="Index" id="chartFunc">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="inRowEditors">
        Function :y =
        <input asp-for="ACoeff" />
        x^2 +
        <input asp-for="BCoeff" />
        x +
        <input asp-for="CCoeff" />

    </div>

    <label asp-for="Step"></label>
    <input asp-for="Step" />

    <div class="inRowEditors">
        From
        <input asp-for="LowerBorder"  />
        to
        <input asp-for="UpperBorder"  />
    </div>
    <div class="form-group">
        <input type="submit" value="PLOT" class="btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}