@model nDeathProject.Models.ChartEntity

@{ 
    Layout = null;
}
<div id="chartContainer" style="height: 300px; width:80%" ></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" id="chartFunc">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ACoeff" class="control-label"></label>
                <input asp-for="ACoeff" class="form-control" />
                <span asp-validation-for="ACoeff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BCoeff" class="control-label"></label>
                <input asp-for="BCoeff" class="form-control" />
                <span asp-validation-for="BCoeff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CCoeff" class="control-label"></label>
                <input asp-for="CCoeff" class="form-control" />
                <span asp-validation-for="CCoeff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <input asp-for="Step" class="form-control" />
                <span asp-validation-for="Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowerBorder" class="control-label"></label>
                <input asp-for="LowerBorder" class="form-control" />
                <span asp-validation-for="LowerBorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpperBorder" class="control-label"></label>
                <input asp-for="UpperBorder" class="form-control" />
                <span asp-validation-for="UpperBorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    var options = {
        animationEnabled: true,
        title: {
            text: "Chart"
        },
        axisX: {
            title: "X",
        },
        axisY: {
            title: "Y",
            includeZero: true
        },
        data: [{}]
    };
</script>
<script>
    window.onload = function () {
        $("#chartContainer").CanvasJSChart(options);
    }
</script>
<script>
    $("#chartFunc").on("submit", function (e) {
        e.preventDefault();
        $("#chartContainer").empty();
        $this = $(this);
        var frmValues = $this.serialize();
        $.ajax({
            url: '@Url.Action("GetDataPoints")',
            dataType: 'json',
            data: frmValues,
            type: 'GET',
            success: function (res) {
                var points = [];
                $.each(res, function (i, point) {
                    points.push({ x: parseInt(point.value), y: parseInt(point.text) });
                });
                var options = {
                    animationEnabled: true,
                    title: {
                        text: "Chart"
                    },
                    axisX: {
                        title: "X",
                    },
                    axisY: {
                        title: "Y",
                        includeZero: true
                    },
                    data:
                        [{
                            yValueFormatString: "##",
                            xValueFormatString: "##",
                            type: "spline",
                            dataPoints: points
                        }]
                }
                $("#chartContainer").CanvasJSChart(options);
            }
        });
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
