

@{ 
    Layout = null;
}
<div style="display:flex">
    <div id="chartContainer" style="height: 300px; width:70%"></div>

    <div id="formContainer">
        @Html.Partial("_FunctionPartial")
        <div id="errors"> </div>
    </div>
    

</div>


<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script>
    var options = {
        animationEnabled: true,
        title: {
            text: "Chart"
        },
        axisX: {
            title: "X",
        },
        axisY: {
            title: "Y",
            includeZero: true
        },
        data: [{}]
    };
</script>
<script>
    window.onload = function () {
        $("#chartContainer").CanvasJSChart(options);
    }
</script>
<script>
    $("#chartFunc").on("submit", function (e) {
        e.preventDefault();
        
        $this = $(this);
        var frmValues = $this.serialize();
        $.ajax({
            url: '@Url.Action("GetDataPoints")',
            dataType: 'json',
            data: frmValues,
            type: 'GET',
            success: function (res) {
                $('#errors').empty();
                if (res.view.viewData.Error != undefined)
                    $('#errors').append('<h3>'+ res.view.viewData.Error +'</h3>');
                   
                var points = [];
                $.each(res.list, function (i, point) {
                    points.push({ x: parseInt(point.x), y: parseInt(point.y) });
                });
                options.data =
                    [{
                        yValueFormatString: "##",
                        xValueFormatString: "##",
                        type: "spline",
                        dataPoints: points
                    }];
                
                $("#chartContainer").CanvasJSChart(options);
                return false;
            }
            
        });
    })
</script>


